<div class="container py-5 px-4">
    <div class="row rounded-lg overflow-hidden shadow">
      <!-- Users box-->
      <div class="col-5 px-0">
        <div class="bg-white">
          <div class="bg-gray px-4 py-2 bg-light">
            <p class="h5 mb-0 py-1">Recent</p>
          </div>
          <div class="messages-box" id="allUser">
            <div class="list-group">

            </div>
          </div>
        </div>
      </div>
      <!-- Chat Box-->
      <div class="col-7 px-0">
        <div class="px-4 py-5 chat-box bg-white" id="chatBox">
          <h5>Please select a chat to start messaging</h5>
        </div>
        <form action="#" class="bg-light">
          <div class="input-group">
            <input type="text" placeholder="Type a message" aria-describedby="sendButton" class="form-control rounded-0 border-0 py-4 bg-light" id="message">
            <div class="input-group-append">
              <button id="sendButton" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const sender  = '{{ email }}';
    var receiverEmail = '';
    const socket = io();
    socket.on('connect', () => {
      socket.emit('join', {email: sender});
    });
    
    const getAllUser = async() => {
      try{
        const res = await fetch('/user');
        const users = await res.json()
        users.data.forEach((user) => {
          document.getElementById('allUser').innerHTML += 
          `
            <a href="#" class="list-group-item list-group-item-action" data-email=${user.email}>${user.name}</a>
          `
        })
      }catch(err){
        console.log(err)
      }
    }
    getAllUser()

    const users = document.querySelector('#allUser');
    users.addEventListener('click', async(e) => {
      let email = e.target.dataset.email;
      receiverEmail = email;
      await getMessage(email);
      const sendButton = document.getElementById('sendButton');
      sendButton.addEventListener('click', (e) => {
        e.preventDefault()
        let message = document.getElementById('message').value;
        if(message != ''){
          let chatBox = document.getElementById('chatBox');
          document.getElementById('message').value = '';
          console.log("mtap");
          chatBox.innerHTML +=
          `
            <div class="media w-50 ml-auto mb-3" id="sender">
              <div class="media-body">
                <div class="bg-primary rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-white">${message}</p>
                </div>
              </div>
            </div>
          `
          storeMessage(email, message);
        }
      })
    })

    const getMessage = async(receiver) => {
      try{
        const options = {
          method : 'GET',
          headers : {
            'Content-Type': 'application/json'
          }
        }
        const res = await fetch('/chat/'+receiver, options);
        const chats = await res.json();
        let chatBox = document.getElementById('chatBox');
        chatBox.innerHTML = ' ';
        chats.data.forEach((chat) => {
          if(chat.sender == receiver){
            chatBox.innerHTML +=
            `
              <div class="media  w-50 mb-3" id="receiver">
                <div class="media-body">
                  <div class="bg-light rounded py-2 px-3 mb-2">
                    <p class="text-small mb-0 text-muted">${chat.message}</p>
                  </div>
                </div>
              </div>
          `
          }else{
            chatBox.innerHTML +=
            `
              <div class="media w-50 ml-auto mb-3" id="sender">
                <div class="media-body">
                  <div class="bg-primary rounded py-2 px-3 mb-2">
                    <p class="text-small mb-0 text-white">${chat.message}</p>
                  </div>
                </div>
              </div>
          `
          }
        })          
        return;
      }catch(err){
        console.log(err);
      }
      
    }

    const storeMessage = async(receiver, message) => {
      try{
        const data = {
          message : message,
          receiver : receiver,
        }
        const options = {
          method: 'POST',
          body: JSON.stringify(data),
          headers : {
            'Content-Type': 'application/json'
          }
        }
        const store = await fetch('/chat', options);
        if(store){
          socket.emit('chat message', {message:message,sender:sender, receiver,receiver});
        }
        return;
      }catch(err){
        console.log(err);
      }
    }

     socket.on('chat message',(data) => {
       if(data.sender == receiverEmail){
          document.getElementById('chatBox').innerHTML +=
            `
              <div class="media  w-50 mb-3" id="receiver">
                <div class="media-body">
                  <div class="bg-light rounded py-2 px-3 mb-2">
                    <p class="text-small mb-0 text-muted">${data.message}</p>
                  </div>
                </div>
              </div>
            `
        }
      })
    
  </script>

